<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction-to-SQL" data-toc-modified-id="Introduction-to-SQL-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction to SQL</a></span><ul class="toc-item"><li><span><a href="#What-are-SQL-and-MySQL?" data-toc-modified-id="What-are-SQL-and-MySQL?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span><strong><font color="red">What are SQL and MySQL?</font></strong></a></span></li><li><span><a href="#So-What-Makes-Tables-in-a-Database-Relational?" data-toc-modified-id="So-What-Makes-Tables-in-a-Database-Relational?-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span><strong><font color="orange">So What Makes Tables in a Database Relational?</font></strong></a></span></li><li><span><a href="#Now-What?" data-toc-modified-id="Now-What?-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span><strong><font color="gree">Now What?</font></strong></a></span></li><li><span><a href="#What-Are-the-Data-Types-in-MySQL?" data-toc-modified-id="What-Are-the-Data-Types-in-MySQL?-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span><strong><font color="red">What Are the Data Types in MySQL?</font></strong></a></span></li></ul></li></ul></div>

## Introduction to SQL

### **<font color=red>What are SQL and MySQL?</font>**

**SQL**, *Structured Query Language*, is a computer language that allows you to communicate with databases. 

**MySQL** is a Relational Database Management System, *RDBMS*, used to interact with a database. It serves as the interface between a user and a database allowing the user to employ SQL to interact with the database.

**A database** is a collection of related tables used to store and manage data.

- **A schema** is like a blueprint for a database. In MySQL, the term is interchangeable with database.

**A table** is a collection of records. 

**A record** is a single observation or row in a table.

**A field** is a single category or column in a table.

**A value** is the content of a single cell.

![table](https://developer.salesforce.com/docs/resources/img/en-us/192.0?doc_id=dev_guides%2Fappx_dev%2Fimages%2Fadg_db_positions.jpg&folder=fundamentals)

### **<font color=orange>So What Makes Tables in a Database Relational?</font>**

**A Primary Key** is the **unique identifier** for a record in a table. You cannot have a Null value in the primary key column, nor can any two records share the same value in this field.

**A Foreign Key** is a field in a table that serves as the primary key for another table. Although this field must contain unique values in the table for which it serves as a primary key, it **does NOT have to contain unique values** in the table for which it serves as a foreign key.

![keys](https://miro.medium.com/max/2406/1*yW_ha3z8Mp6fUn9m6qWwNw.png)

- **A composite key** is when a table has more than one primary key; it's a multiple-column index. The primary key is comprised of a unique combination of two or more fields and serves as the unique identifier of each record.

![composite](https://www.callicoder.com/assets/images/post/large/hibernate-composite-primary-key-example-table-structure.jpg)

**A One-to-Many Relationship** is when one record in a table can be associated with one or more records in another table.

>**For Example:** In the CUSTOMERS table, the CustomerNo field is the primary key and must be unique (ONE). Each customer has a unique code in the CUSTOMERS table but that code can be used multiple times (MANY) in the ORDERS table with the uniqe id OrderNo, the primary key in the ORDERS table. The foreign key field in the ORDERS table, CustomerNo, can appear multiple times because a single customer from the CUSTOMERS table can have multiple orders, each with a unique OrderNo. 

- **CustomerNo can appear ONE time in the CUSTOMERS table but MANY times in its related ORDERS table. One-to-Many**

**A One-to-One Relationship** is when each row in one table has only one related row in a second table.

**A Joiner Table** is

### **<font color=gree>Now What?</font>**

**Use the following commands to inspect information about available databases and tables.**
>**View available databases for use.**
```sql
SHOW DATABASES;
```

>**Select a database for use. (database names ARE case sensitive)**
```sql
USE database_name;
```

>**Discover which database you currently have selected for use.**
```sql
SELECT DATABASE();
```

>**Discover available tales for use withing my selected database.**
```sql
SHOW TABLES;
```

>**Inspect the structure of a table. (table names ARE case sensitive)**
```sql
DESCRIBE table_name;
```

>**Observe the query used to create a table or database name.**
```sql
SHOW CREATE TABLE table_name;
```

<div class="alert alert-block alert-info"><b>Tip: </b>Need help or want to know more about a mysql topic?</div>

```sql
SELECT help_topic_id, help_category_id, url FROM mysql.help_topic
```

### **<font color=red>What Are the Data Types in MySQL?</font>**

When a database is developed using MySQL, each column must be assigned a specific data type and as an option, data length. 

**Data Types**

>**Common Numeric Data Types**

- `INT` is a number without a decimal point. 


- `DECIMAL(P,D)` stores an exact number up to P digits with D decimals.


- `FLOAT` is a single-precision floating point number and `DOUBLE` is a double-precision floating point number.


    `UNSIGNED` an optional attribute that limits numeric data to positive values only.
    
>**Common String Data Types**

- `CHAR(length)` is a fixed length, non-binary string
```sql
CHAR(5)
```
- `VARCHAR(length)` is commonly used for strings without a fixed length but no more than 255 characters.


- `TEXT` is used for strings without limits on length.


>**Date and Time Data Types**

<div class="alert alert-block alert-info"><b>Tip: </b>Use single quotes to surround a date.</div>

- `DATE` is typically displayed as `'YYYY-MM-DD'` and does not include time data.


- `TIME` uses 24-hour times using `'hh:mm:ss'` format.


- `DATETIME` is a combined data and time value typically displayed as `'YYYY-MM-DD HH:MM:SS'`


- `TIMESTAMP` formated in `'YYYY-MM-DD HH:MM:SS'` does allow for time zone consideration.


- `YEAR` can be in `'YYYY'` or `'YY'` format.

Below you can see all of the options available when creating a new column using MySQL syntax. *Possible column constraints would be `NOT NULL`, `UNIQUE`, `CHECK`, `PRIMARY KEY`, and `FOREIGN KEY`.*

```sql
column_name data_type(length) [NOT NULL] [DEFAULT value] [AUTO_INCREMENT] column_constraint;
```

>**Example Syntax to Create a New Table**

```sql
CREATE TABLE IF NOT EXISTS tasks (
    task_id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    start_date DATE,
    due_date DATE,
    status TINYINT NOT NULL,
    priority TINYINT NOT NULL,
    description TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)  ENGINE=INNODB;
```

[This](https://www.mysqltutorial.org/mysql-data-types.aspx/) is the source of the thorough tutorial on MySQL Data Types and Table Creation with code samples referenced above.